/* UNIVERSAL------------------- */
div {
    border: 1px solid black;
}




.mainContainer {
    display: grid;
    grid-template: 0.5fr 0.2fr 1fr/ repeat(3, 1fr);

    height: 100vh;
}

.headerContainer {
    grid-column: 1/ span 3;
}

.buttonContainer {
    grid-column: 1/ span 3;
}




/* CONTENT CONTAINER */
.contentContainer {
    grid-column: 1/ span 3;
}

.book {
    display: flex;
    flex-direction: column;
}
#bookImg {
    height: 90%;
    width: auto;
}